# dependencies
**/node_modules

# Compiled source #
###################
*.egg-info
*.com
*.class
*.dll
*.exe
*.o
*.so

# testing
/coverage

# production
/build

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
**/7z
**/dmg
**/gz
**/iso
**/jar
**/rar
**/tar
**/zip
**/shp
**/shx
**/shp.xml
**/dbf
**/prj
dist

# data
**/data
**/storage
**/result
**/__pycache__
**.csv

# IDE
.vscode/
*.code-workspace
.idea

# misc
*.op
*.op.gz
*.ipynb
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
build-storm-measurement-pre/**
!**.py
!**.sh
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**.env
**.tar